<%- include('partials/header.ejs')%>

<h1>Home</h1>
<p><%= content%></p>
<%array.forEach(ele => {%>
	<div class="card">
		<h2><%= ele.title %></h2>
		<p><% if(ele.post.length > 100){ %>
			<%=  ele.post.slice(0, 100) + '...' %>
			 <a href="/posts/<%= ele._id.toString() %>">Read More</a>
			<% }else{ %>
			<%= ele.post %>
			<% } %>
		</p>
	</div>
<%})%>
<a id="compose-button" class="nav" href="/compose">Compose</a>

<%- include('partials/footer.ejs')%>